.header{
  height: 900px;
  background-image: url('../img/sfondo10.jpg');
  border: 1px solid black;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;


}
.profile{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.image{
  display: flex;
  align-items: center;
}
.img{
  width: 100%;
  margin-right: -3px;
  border-radius: 40%;
  border: 8px solid black;
}

.article1{
  font-family: 'Fira Sans', sans-serif;
  border-radius: 30px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px solid black;
  width: 500px;
  padding: 20px;
    text-align: justify;
    font-size: 135%;
  line-height: 150%;
  background-color: white;
  height:100%;
}
span {
  font-size: 135%;
}

.nav{
  margin-top: 40px;
  display: flex;
  margin-right: 120px;
  justify-content: space-between;
}



.nome{

  height: 150px;
  width: 550px;
  margin-left: 10px;
  font-size: 230%;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  color: white;
}
.menu{
  height: 100px;
  width: 550px;
  display: flex;
  justify-content:space-around;
  margin-right: 25px;

}
.bottone{
  height: 35px;
  width: 155px;
  text-align: center;
  box-shadow: inset 1.5px 1.5px 1.5px #029bde;
  padding: 5px;
  font-size: 120%;
  cursor: pointer;
  color:white;
  background-color:black ;
  border-radius: 15px;
}
.bottone a{
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.bottone a:hover{
  font-size: 110%;
  font-weight: bold;}

@media only screen and (min-width: 401px) and (max-width: 960px) {
.article1{
  display: none;
}
.image{
  margin-top: 100px;
}
  .menu {
      flex-direction: column;
      margin-top: 5px;
    }
    .bottone {
      margin-top: 25px;
    }
  }
